#about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../assets/banner_about.webp), url(../../assets/banner_about.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 46.25rem;
  height: 100%;
}

#about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about h2 {
  margin: 3.75rem 0;
  max-width: 80%;
  text-align: center;
  font-size: 2rem;
  color: #dedad2;
}

#about h2::after {
  content: "";
  display: block;
  width: 46%;
  height: 2px;
  background-color: #632636;
  margin: 0.5rem auto;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.about-content img {
  border-radius: 2rem;
  object-fit: cover;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  width: 60%;
}

.about-right h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 1.2rem;
  color: #ffffff;
}

.about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  height: 2.5rem;
  background-color: #dedad2;
  border: 1px solid #632636;
  border-radius: 2rem;
  color: #632636;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.5s ease;
}

.about-btn:hover {
  color: #dedad2;
  border: 1px solid #dedad2;
  background-color: #632636;
}

@media (max-width: 1024px) {
  .about-content {
    gap: 3rem;
  }
}

@media (max-width: 900px) {
  #about {
    min-height: 35rem;
    padding-bottom: 2rem;
  }

  .about-content {
    gap: 1.6rem;
  }

  .about-content img {
    max-width: 20rem;
  }
}

@media (max-width: 768px) {
  .about-right {
    gap: 1.6rem;
  }
}

@media (max-width: 750px) {
  #about h2 {
    margin: 2.5rem 0;
  }
  .about-content img,
  .about-right h3 {
    display: none;
  }

  .about-right {
    width: 80%;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .about-right {
    width: 100%;
    padding: 0 1rem;
  }
}

@media (max-width: 375px) {
  #about {
    min-height: 31.25rem;
    padding-bottom: 2rem;
  }
  #about h2 {
    font-size: 1.6rem;
  }

  #about h2 {
    margin: 2.5rem 0 1.25rem 0;
  }

  .about-text {
    font-size: 1rem;
  }
}

@media (max-width: 320px) {
  #about h2 {
    font-size: 1.4rem;
  }
}
