.aside {
  background-color: #632636;
  min-height: 32.5rem;
}

.aside .container {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.cards-router {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  background-color: #948b80;
  width: 20rem;
  min-height: 28.12rem;
  padding: 1.25rem 0.62rem 0 0.62rem;
  border-radius: 0.8rem;
}

.cards-router h2 {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
}

.cards-router p {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
}

.card-btn {
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.75rem;
  height: 2.5rem;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #632636;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.5s ease;
}

.card-btn:hover {
  background-color: #dedad2;
  color: #632636;
}

@media (max-width: 900px) {
  .aside {
    height: 100%;
    padding-bottom: 2rem;
  }

  .aside .container {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  .cards-router {
    width: 60%;
    height: 23.75rem;
  }
}

@media (max-width: 768px) {
  .cards-router {
    width: 70%;
    height: 25rem;
  }
}

@media (max-width: 554px) {
  .cards-router {
    width: 90%;
    height: 28.12rem;
  }
}
