* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto";
  overflow-x: hidden;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Montserrat";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
