article {
  background-color: #dedad2;
}

article .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.article-text h2,
.faq h3 {
  margin: 3rem 0;
  color: #632636;
  font-size: 2.3rem;
  font-weight: 700;
  text-align: center;
}

.article-text p {
  padding: 0 6%;
  line-height: 1.5rem;
  color: #000;
  font-size: 1.2rem;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.faq-item {
  width: 100%;
  background-color: #632636;
  border-radius: 1.4rem;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  padding: 1.6rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  text-align: start;
  color: #dedad2;
  background-color: #632636;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.faq-question h4 {
  width: 90%;
}

.faq-question:hover {
  padding-left: 2.2rem;
  background-color: #6e2c3e;
}

.faq-question.no-hover:hover {
  padding-left: 1.6rem;
  background-color: #632636;
}

.icon {
  font-size: 1.6rem;
  color: #dedad2;
  transition: transform 0.3s ease;
}

.icon.open {
  transform: rotate(180deg);
}

.faq-answer {
  height: 0;
  opacity: 0;
  padding: 0 1.6rem;
  overflow: hidden;
  background-color: #632636;
  font-size: 1rem;
  transition: 0.5s ease;
  border-top: 1px solid #dedad2;
}

.faq-answer.open {
  height: auto;
  opacity: 1;
  padding: 1rem 1.6rem;
}

@media (max-width: 750px) {
  .faq-question h4 {
    width: 80%;
    font-size: 1rem;
  }

  .faq-question:hover {
    padding-left: 1.6rem;
  }
}
